.grid_container
{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto;
	grid-template-rows: auto;
	grid-gap:10px 10px;
	background-color:white;
	padding:20px;
}
.a
{
	background-color:#f4d442;
	padding:20px;
	text-align:center;
	font-size:80px;
	border:solid;
	border-width: 0px 0px 8px 0px;
	border-color: #f47d42;
	border-radius:2px 2px 10px 10px;

}
.item6
{
	background-color:#f4cb42;
	grid-column: 6/ span 3;
	border:solid;
	border-width: 0px 0px 8px 0px;
	
	border-color:#f47d42;
	border-radius:2px 2px 10px 10px;
    

	
}
.c{
	background-color:#f4cb42;
	border:solid;
	border-width: 0px 0px 8px 0px;
	border-color: #f47d42;
	border-radius:2px 2px 10px 10px;
    


}