#first{
	border-radius: 20px 65px;
	padding:30px 200px 30px 200px;
	border: solid;
	background-color: white;

}
#second{
	border-radius: 20px 90px;
	padding:30px 200px 30px 200px;
	border: solid;
	background-color: white;


}
#third{
	border-radius: 20px 90px;
	padding:30px 200px 30px 200px;
	border: solid;
	background-color: white;


}
#fourth{
	border-radius: 20px 65px;
	padding:30px 200px 30px 200px;
	border: solid;
	background-color: white;


}